.app {
    background: #0D1117;
    color: white;
    height: 100%;
}

/* header.js */

.header {
    background: #161B22;
    font-weight: 600;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 14px;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logo {
    font-size: 1.7rem;
    position: relative;
    top: 5px;
    text-align: center;
    align-items: center;
}

input {
    border-radius: 5px;
    background: transparent;
    align-items: center;
    color: white;
    padding: 5px;
    height: 15px;
    margin: 0px 10px;
    border: 1px solid grey;
}

.links {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.links a:hover {
    opacity: 0.6;
}

input::placeholder {
    color: white;
    opacity: 0.6;
}

.right {
    font-size: 1rem;
}

.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: 300;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background: transparent;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    background: #161b22;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    display: block;
    margin: 0;
  }

.dropdown-content a:hover {
    background: blue;
  }

.dropdown:hover .dropdown-content {
  display: block;
}

p {
    margin: 0;
}

.rlogo {
    align-items: center;
    position: relative;
    bottom: 10px;
    margin: 0px;
    padding: 0px;
    gap: 0px;
    
}

/* profile.js */

.link {
    padding: 10px;
    /* border-bottom: 0.1 solid whitesmoke; */
}

.profile {
    display: flex;
    justify-content: space-between;
}

.na {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-link a{
    color: lightskyblue;
    font-weight: 600;
    font-size: 1.4rem;
}

.na p {
    color: white;
    border: 0.5px solid lightgrey;
    border-radius: 10cm;
    padding: 2px 10px;
    font-size: 0.7rem;
    align-items: center;
}

.btn {
    cursor: pointer;
    background: #21262d;
    color: whitesmoke;
    border-radius: 5px;
    width: 120px;
    font-size: 1rem;
    padding: 3px 8px;
    margin: 0px 10px;
    align-items: center;
    text-align: center;
}

.icon {
    color: white;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    margin: 0px 5px;
}

.head {
    margin-top: 15px;
}

.h-link {
    display: flex;
    flex-direction: row;
}

.h-link li {
    list-style: none;
    margin: 0 5px;
    padding: 5px;
}

.h-link a {
    color: white;
    text-decoration: none;
}

.h-link li:hover{
    background: lightgrey;
    border-radius: 5px;
    backdrop-filter: blur(15px);
}


/* data.js */

.data {
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    margin-top: 20px;
}

.dhead, .d-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

h4 {
    background: rgba(240,246,252,0.1);
    margin: 0px;
    padding: 5px 15px;
    gap: 0px;
    border-radius: 5px;
}

.input {
    margin-left: 0px;
    width: 550px;
    margin-right: 10px;
    padding: 8px;
}

.d-right .btn {
    background: transparent;
    margin: 0px;
    padding: 5px 10px;
    width: 150px;
    align-items: center;
    border: 0.5px solid #f1f1f1;
    font-size: 1.05rem;
}

.new {
    color: white;
    background: green;
    padding: 9px 10px;
    border: none;
    margin-left: 20px;
    align-items: center;
    width: 100px;
    border-radius: 8px;
}


.info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    outline: 0.5px solid #ffffff7a; 
    background: #161B22;
    border-radius: 5px;
    padding: 2px 20px;
    margin-top: 10px;
    font-size: 1.1rem;
}

.linfo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.rinfo {
    align-items: center;
}

.rinfo a{
    opacity: 0.8;
}

.rinfo a:hover {
    opacity: 1;
}

.data-list {
    display: flex;
    height: 86px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    outline-offset: 0px;
    outline: 0.5px solid #ffffff7a; 
}

.data-list:hover {
    background: #161B22;
}

.oneD {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 1.05rem;
}

.title:hover {
    color: blue;
}

.open {
    color: greenyellow;
    font-size: 1.1rem;
}

 .span {
    font-size: 0.8rem;
    opacity: 0.8;   
    margin: 0px;
}

.oneD span:hover {
    opacity: 1;
}

.label {
    position: absolute;

}

.pic {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 79%;
    border-radius: 50%;
    
}

/* pagination.js */

.footer {
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0px auto;
    font-size: 1.05rem;
    padding: 30px;
    border-top: 1px solid #ffffff7a;
    width: 80%;
    align-items: center;
}

.fl {
    opacity: 0.8;
    align-items: center;
}

.footer a{
    color: blue;
}

.footer a:hover {
    text-decoration: underline;
}

/* footer.js */