.app {
    background: #0D1117;
    color: white;
    height: 100%;
}

/* header.js */



/* profile.js */

/* data.js */

/* pagination.js */


/* footer.js */

.footer {
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0px auto;
    font-size: 1.05rem;
    padding: 30px;
    border-top: 1px solid #ffffff7a;
    width: 80%;
    align-items: center;
}

.fl {
    opacity: 0.8;
    align-items: center;
}

.footer a{
    color: blue;
}

.footer a:hover {
    text-decoration: underline;
}

